//-
	@file Defines a item_card mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies

//- Definition
mixin item_card(item)

	.card.lightbox-details-button
		img(src=item.img, alt="dots")
		h4(data-title="#{item.title}") #{item.title}
		span(data-desc="#{item.description}")
		p(data-price="#{item.price}") #{item.price}